<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/fonts.css">
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>

    <header class=" shadow-sm px-8 py-4">
        <div class="container flex justify-center">
            <img class="h-7" src="../assets/imgs/logo-fill.png" alt="Your Company">
        </div>

    </header>

    <main class="pt-5 container">
        <h1 class="mt-2">
            <span>Knowledge Title</span>
        </h1>

        <div class="kl-tags">
            <div class="badge badge-indigo">Tag1</div>
            <div class="badge badge-indigo">Tag2</div>
            <div class="badge badge-indigo">Tag3</div>
        </div>

        <div class="kl-images mt-4">
            <div>
                <img src="../assets/imgs/1.jpg" alt="">
            </div>
            <div>
                <img src="../assets/imgs/2.jpg" alt="">
            </div>
            <div>
                <img src="../assets/imgs/3.jpg" alt="">
            </div>
        </div>

        <div class="text-gray-400 mt-4 text-sm">
            Published on 2024-01-01 by {Author}
        </div>

        <div class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores provident deserunt praesentium maiores laudantium labore tempora, illo officia! Numquam, odio?
        </div>
        <div class="mt-4">
            <button class="btn">Back</button>
        </div>
    </main>
</body>

</html>